.btn
    border: none
    border-radius: 0
    font-family: $font
    &--primary
        background-color: $white
        color: $black
        border: 5px solid $primary
        height: 120px
        max-width: 300px
        width: 100%
        font-size: 20px
        margin-bottom: 105px
        @include font-bold
        @include hover
            background-color: $primary
        