.block
    width: 100%
    &__content
        margin: 0 auto
        max-width: 1230px
        text-align: center
        h2 
            font-size: $heading-size
            font-family: $font
            font-weight: 700
            padding-top: 50px
    &__heading
        @include font-bold
        font-size: $heading-size 
    &__text
        margin: 0 auto
        max-width: 960px
        padding: 50px 0
        p 
            font-size: $paragraph-size
            font-family: $font
            color: $light
            margin-bottom: 10px
            line-height: 30px

        b 
            color: $secondary
            font-family: $font
            line-height: 30px
            font-size: $paragraph-size

    &--white
        padding: 100px 0
    &--dark
        background-color: $dark
        h2 
            color: $white
    @media (max-width: $m)
        padding-left: 15px
        padding-right: 15px
    