.header
    position: relative
    width: 100%
    
.page-nav
    position: absolute
    z-index: 10
    color: $white
    background-color: transparent
    font-family: $font
    z-index: 10
    &__expansion-container
        height: 100vh
        width: 100vw
        background-color: $primary
        overflow-y: hidden
        display: flex
        flex-flow: column
        position: fixed
       

    &__menu-control
        margin-top: 5.625rem
        margin-left: 5.625rem  
        padding: 10px
        font-size: 12px
        cursor: pointer
        display: flex
        flex-flow: column
        color: $white
        font-family: $font
        @include small
            margin-top: 3.125rem
            margin-left: 3.125rem
        span 
           margin-bottom: 20px 

    &__menu-icon
        vertical-align: sub
        font-size: 20px
    &__text
        margin-bottom: 50px
        color: $dark
        font-family: $font

    &__menu
        list-style-type: none
        margin-left: 250px
        @include large-only
            margin-left: 200px
        @include medium
            margin-left: auto
            margin-right: auto
            padding-top: 130px
        @include small
            padding-top: 150px
    &__nav-item
        margin: 15px 0
        width: 100%
    &__nav-link
        text-align: left
        display: block
        font-size: $heading-size
        text-decoration: none
        color: inherit
        text-transform: uppercase
        @include font-bold
        &:hover
            color: $secondary
    &__logo-container
        position: absolute
        top: 6.25rem
        left: 50%
        transform: translateX(-50%)

    